<% if true or current_user.reconcile_app.deployment_complete? %>
<h3> Your ReconcileApp deployment is complete! </h3>
<hr>

<a href="http://<%= current_user.reconcile_app.name %>.herokuapp.com">
<i class="icon-ok"></i>
  <%= current_user.reconcile_app.name %>.herokuapp.com
</a> was installed on heroku
<%= distance_of_time_in_words(current_user.reconcile_app.created_at,
    Time.now)%> ago.
<hr>
<span class="label label-warning">Hang on!</span>
Bear in mind that all your expenses will be tracked on the above
applicaiton, not here. You probably won't even need to visit
www.reconcileapp.com again, so we recommend that you <u>bookmark</u> the
above link.<br>
If you'd like to take ownership of the app hosted on heroku at some
point in the future, let us know and we'll gladly transfer the
ownership to you! Farewell.
<% else %>

<script type="text/javascript">
    window.onload = setupRefresh;

    function setupRefresh() {
      setTimeout("refreshPage();", 10000); // milliseconds
    }
    function refreshPage() {
       window.location = location.href;
    }
</script>

<h3> Your ReconcileApp deployment is in progress... </h3>
<hr>
<div class="progress progress-success progress-striped active">
  <div class="bar" style="width: 50%;"></div>
</div>
<hr>
This usually takes a few minutes. Feel free to refresh or come back later!

<% end %>
