<%= form_for(@reconcile_app) do |f| %>
<%= f.submit "Deploy a new instance to Heroku!", :class => "btn btn-large btn-custom-success"%>
<% end %>
<hr>
Not what you were looking for? There are other ways of deploying
Reconcile App <a href="/get_it">here.</a>
